
<nav>
    <div class="nav-wrapper mint">
      <a href="/" class="brand-logo right">Food Delivery App</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Shops</a></li>
        <li><a href="/cart">Shopping Cart</a></li>
     
      </ul>
    </div>
  </nav>
  